.terminal-container {
  margin-top: 20vh;
  margin: 0 auto;

  .terminal {
    font-family: 'Monaco', Consolas, 'Lucida Console', monospace;

    .terminal-header {
      height: 28px;
      background-color: $terminalHeader;
      border-radius: 10px 10px 0 0;
      display: flex;
      justify-content: flex-start;
      align-items: center;

      .header-button {
        width: 12px;
        height: 12px;
        border-radius: 50%;
        margin-left: 8px;
        display: flex;
        justify-content: center;
        align-items: center;

        .header-button-center {
          width: 4px;
          height: 4px;
          border-radius: 50%;
          background-color: $buttonRedCenter;
        }
      }

      .red {
        background-color: $buttonRed;
      }

      .yellow {
        background-color: $buttonYellow;
      }

      .green {
        background-color: $buttonGreen;
      }

      .header-text-container {
        color: $terminalHeaderText;
        margin: 0 auto;
      }
    }

    .terminal-window {
      background-color: $terminalBackground;
      border-radius: 0 0 10px 10px;
      box-shadow: 0 50px 100px rgba(50, 50, 93, 0.15), 0 15px 35px rgba(50, 50, 93, 0.2), 0 5px 15px rgba(0, 0, 0, 0.12);
      font-size: 1em;

      a {
        color: $terminalLink;
      }

      .prompt:first-child {
        padding-top: 35px;
      }

      .prompt:last-child {
        padding-bottom: 40px;
      }

      .prompt {
        margin-bottom: 25px;
        margin-left: 35px;
        margin-left: 35px;
        line-height: 24px;

        .prompt-question {
          color: $terminalAnswer;

          &:before {
            content: '>\a0';
          }
        }

        .prompt-answer {
          color: $terminalReturnText;
        }

        span {
          background-color: rgba(#f7f7f7, 0.60);
          animation: caret 1s steps(1) infinite;
        }

        @keyframes caret {
          50% {
            background-color: transparent;
          }
        }
      }
    }
  }
}
