$grey: #525f7f;
$lightGrey: #FCFCFC;
$fadedPurple: #4A6D82;
$fadedBlue: #7795f8;
$highlighterGreen: #92eac0;
$linkTeal: #35feff;

$background: #fcfcfc;
$link: #7795f8;
$main: #563566;
$fadedMain: #654773;

$terminalHeader: #e4e3e5;
$terminalHeaderText: #595959;

$terminalBackground: #5A4963;
$terminalReturnText: #E8D82E;
$terminalLink: #93FFFF;

$buttonRed: #FF5A52;
$buttonRedCenter: #990000;
$buttonYellow: #E6C029;
$buttonGreen: #52C22B;
