$background: #fcfcfc;
$textBlack: #262626;

$main: #563566;
$link: #7795f8;

$terminalHeader: #e4e3e5;
$terminalHeaderText: #595959;
$terminalAnswer: #f7f7f7;
$terminalBackground: #5A4963;
$terminalReturnText: #E8D82E;
$terminalLink: #93FFFF;

$buttonRed: #FF5A52;
$buttonRedCenter: #990000;
$buttonYellow: #E6C029;
$buttonGreen: #52C22B;
