$main: #563566;
$grey: #525f7f;
$lightGrey: #FCFCFC;
$fadedPurple: #4A6D82;
$fadedBlue: #7795f8;
$highlighterGreen: #92eac0;
$linkTeal: #35feff;

$background: #fcfcfc;

$terminalHeader: #e4e3e5;
$terminalBackground: #5A4963;
$terminalLink: #3ea6ff;
$buttonRed: #f96256;
$buttonRedBorder: #f65549;
$buttonYellow: #fdbc3d;
$buttonYellowBorder: #ffb524;
$buttonGreen: #33c948;
$buttonGreenBorder: #2dbb41;
