@import './fonts/camphor';
@import 'reset';
@import 'colors';
@import 'breakpoints';

@import '../components/Hero';
@import '../components/Terminal';

@font-face {
  font-family: 'Monaco';
  src: url('./fonts/monaco-webfont.woff') format('woff');
}

body {
  background-color: $background;
  -webkit-font-smoothing: antialiased;
  text-rendering: optimizeLegibility;
  font-feature-settings: 'pnum';
  font-variant-numeric: proportional-nums;
}

a {
  text-decoration: none;
  color: $main;
  transition: 0.25s ease-in-out;

  &:hover {
    opacity: 0.8;
  }
}

.container-lg {
  max-width: 960px;
  margin: 0 auto;
  padding: 0 30px;

  @include mobile {
    padding: 0 10px;
  }

  .home-content {
    .lorem {
      font-family: 'Camphor', Open Sans, Segoe UI, sans-serif;
      font-weight: 200;
      font-size: 1.2em;
      line-height: 30px;
      color: $textBlack;
      margin: 40px 0;
    }
  }
}
